@inherits LayoutComponentBase

@attribute [StreamRendering]

<main class="container mx-auto">
    <div class="grid grid-cols-3 mx-3">
        <div class="md:col-span-2 col-span-3 my-6">
            <a href="/blog/">
                <span class="text-blue-600 text-2xl">Ricardo's Blog</span>
            </a>
        </div>

        <div class="md:col-span-1 col-span-3 my-6">
            <div class="flex flex-row">
                <div class="px-2 ">
                    <a href="/blog/">
                        <span class="text-xl text-blue-600">首页</span>
                    </a>
                </div>
                <div class="px-2 ">
                    <a href="/blog/archives/">
                        <span class="text-xl text-blue-600">归档</span>
                    </a>
                </div>
                <div class="px-2 ">
                    <a href="/blog/tags/">
                        <span class="text-xl text-blue-600">标签</span>
                    </a>
                </div>
                <div class="px-2 ">
                    <a href="/blog/about/">
                        <span class="text-xl text-blue-600">关于</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="px-4 py-2">
        @Body
    </div>

    <Foonter/>
</main>
